---
// Visitor Statistics using 不蒜子 (busuanzi)
---

<div id="busuanzi_container" class="flex items-center justify-center gap-6 text-sm text-slate-400">
  <div class="flex items-center gap-1">
    <span id="busuanzi_value_site_pv">-</span>
    <span>浏览</span>
  </div>
  <div class="flex items-center gap-1">
    <span id="busuanzi_value_site_uv">-</span>
    <span>访客</span>
  </div>
</div>

<script src="//busuanzi.proxy.buusing.com/bs.zi.js" defer></script>