---
// Visitor Statistics using 不蒜子 (busuanzi)
---

<div id="busuanzi_container" class="flex items-center justify-center gap-6 text-sm text-[#8a9cc4]">
  <div class="flex items-center gap-1">
    <span id="busuanzi_value_site_pv" class="text-[#72a8d8]">-</span>
    <span>浏览</span>
  </div>
  <div class="flex items-center gap-1">
    <span id="busuanzi_value_site_uv" class="text-[#72a8d8]">-</span>
    <span>访客</span>
  </div>
</div>

<script src="//busuanzi.proxy.buusing.com/bs.zi.js" defer></script>